img {
    max-height: 200px;
    max-width: 200px;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 250px;
    align-items: center;
    padding: 20px;
    list-style: none;
    border: 1px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    border-radius: 50px;
    transition: background-color 0.1s ease, transform 0.2s ease;
}

li:hover {
    background-color: rgb(70, 140, 197);
    transform: scale(1.05);
    transition: background-color 0.1s ease, transform 0.2s ease;
}
