.card-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    gap: 50px;
}

.container {
    display: flex;
    flex-direction: column;
}